/LimsFileHelper.rar
/Xceed.Words.NET.Examples/bin
/Xceed.Words.NET.Examples/obj
/Xceed.Words.NET/bin
/Xceed.Words.NET/obj
/LimsDocX/bin
/LimsDocX/obj
/ConsoleApp1/bin
/ConsoleApp1/obj
/.vs
/packages
/LimsFileHelper/bin
/LimsFileHelper/obj
/Xceed.Document.NET/bin
/Xceed.Document.NET/obj
